{% extends 'portfolio/base.html' %}
{% block content %}
{%  load static %}

 {% if messages %}
     {% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }}">
             {{ message|safe }}
         </div>
     {% endfor %}
 {% endif %}


    <h1> Contact us through email:</h1>
        <form method="post">

            <div class="form-group form-control-lg col-3 >

                {{form.as_table}}
                {% csrf_token %}

                <button class="btn btn-primary" type="submit" value="Save" >Submit</button>
            </div>

        </form>



{% endblock %}
